<html>
  <head>
    <link href="css/style-User-Input-Form.css" rel="stylesheet" type="text/css">
    <title>App42 PaaS Martini PostgreSQL Sample</title>
  </head>
  <body>
    <div class="App42PaaS_header_wrapper">
      <div class="App42PaaS_header_inner">
        <div class="App42PaaS_header">  
          <div class="logo">
            <a href="/"><img border="0" alt="App42PaaS" src="images/logo.png"></img></a> 
          </div>     
        </div> 
      </div>
	</div>
	<div class="App42PaaS_body_wrapper">
      <div class="App42PaaS_body">
        <div class="App42PaaS_body_inner">
          {{ yield }}
        </div>
      </div>
   	</div>
  </body>
</html>
